# cache directory
cache

# Log files
*.log
logs
.console_history

# db files
*.db*

# worlds
/world*

# player information
banned*.json
ops.json
usercache.json
whitelist.json

# run below commands for tracking and untracking the files
# git update-index --no-assume-unchanged .\server.properties
# git update-index --assume-unchanged .\server.properties